<h4>Dohvati sve studente za određenog profesora</h4>
<mat-form-field>
  <mat-label>Profesor</mat-label>
  <mat-select (selectionChange)="onSelectionChange($event)">
    @for (teacher of teachers$ | async; track teacher.id) {
    <mat-option [value]="teacher.id">{{
      teacher.firstName + " " + teacher.lastName
    }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<button mat-flat-button (click)="getStudents()" [disabled]="!selectedTeacherId">
  Dohvati
</button>

@if ((students$ | async); as students) { @if(!students.length) {
<div>Nema</div>
} @else {
<div>
  @for (student of students; track student.id) {
  <div>{{ student.firstName + " " + student.lastName }}</div>
  }
</div>

} }
