<h4>Dohvati sve ocjene za određenog studenta i određeni predmet</h4>
<mat-form-field>
  <mat-label>Student</mat-label>
  <mat-select (selectionChange)="onStudentSelectionChange($event)">
    @for (student of students$ | async; track student.id) {
    <mat-option [value]="student.id">{{
      student.firstName + " " + student.lastName
    }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (studentId) {
<mat-form-field>
  <mat-label>Predmet</mat-label>
  <mat-select (selectionChange)="onSubjectSelectionChange($event)">
    @for (subject of subjects$ | async; track subject.id) {
    <mat-option [value]="subject.id">{{ subject.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>
}

<button mat-flat-button (click)="getGrades()">Dohvati</button>

<div>
  @for (grade of grades$ | async; track grade) {
  <div>{{ grade.value + " (" + (grade.createdOn | formatDate) + ")" }}</div>
  }
</div>
